:root {
  --call-to-action-color: 217, 110, 102;
  --header-color: 134, 136, 173;
  --light-paragraph-text: 183, 184, 216;
}

html {
  scroll-behavior: smooth;
}

.text-light {
  color: rgb(var(--light-paragraph-text));
}

.text-call-to-action {
  color: rgb(var(--call-to-action-color));
}

.bg-call-to-action {
  background-color: rgb(var(--call-to-action-color));
}


.modal-center {
  z-index: 100;
  position: fixed;
  inset: 0px;
  margin: auto;
}


.overlay {
  background-image: linear-gradient(
    125deg,
    hsla(240, 1%, 27%, 0.9) 0%,
    hsla(240, 1%, 27%, 0.92) 17%,
    hsla(240, 1%, 27%, 0.94) 33%,
    hsla(240, 1%, 27%, 0.96) 48%,
    hsla(240, 1%, 27%, 0.98) 59%,
    hsla(240, 1%, 27%, 1) 68%,
    hsla(240, 1%, 27%, 1) 76%,
    hsla(240, 1%, 27%, 1) 82%,
    hsla(240, 1%, 27%, 1) 88%,
    hsla(240, 1%, 27%, 1) 94%,
    hsla(240, 1%, 27%, 1) 100%
  );
}

.mirror-overlay {
  background-image: linear-gradient(
    410deg,
    hsla(240, 1%, 27%, 0.9) 0%,
    hsla(240, 1%, 27%, 0.92) 17%,
    hsla(240, 1%, 27%, 0.94) 33%,
    hsla(240, 1%, 27%, 0.96) 48%,
    hsla(240, 1%, 27%, 0.98) 59%,
    hsla(240, 1%, 27%, 1) 68%,
    hsla(240, 1%, 27%, 1) 76%,
    hsla(240, 1%, 27%, 1) 82%,
    hsla(240, 1%, 27%, 1) 88%,
    hsla(240, 1%, 27%, 1) 94%,
    hsla(240, 1%, 27%, 1) 100%
  );
}